---
title: Le Wagon - Middleman
---

<%=partial "layouts/banner"  %>
<!-- <div id="home">
  <div class="home-content">

      <%= image_tag "logo.png", width: "200" %>
      <p>
        Middleman is now running!
      </p>


    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->




<h2>Where can you find le wagon?</h2>
  <div class="row">
    <% 10.times do |city| %>
    <div class="col-xs-12 col-sm-4">
      <%=partial "layouts/card"  %>
      </div>
    <% end %>
  </div>
</div>


